---
interface Props {
  title: string;
  alignment?: 'center' | 'start' | 'end';
  icon?: string;
  image?: string;
  imageSize?: 'small' | 'medium';
}

const {
  title,
  alignment = 'center',
  icon,
  image,
  imageSize = 'small',
} = Astro.props;
---

<div class:list={[
  'card', 
  (
    alignment === 'start' ? `text-start` :
    alignment === 'end' ? `text-end` :
    `text-center`
  ),
]}>
  <div class="card-body">
    { image && 
      <div class:list={[
        'my-4', 
        'flex', 
        (
          alignment === 'start' ? `justify-start` :
          alignment === 'end' ? `justify-end` :
          `justify-center`
        ),
      ]}>
        <img src={image} class={`img--${imageSize}`} />
      </div>
    }
    { icon && <i class={icon}></i> }
    <h3 class:list={[
      'card-title',
      (
          alignment === 'start' ? `justify-start` :
          alignment === 'end' ? `justify-end` :
          `justify-center`
        ),
    ]}>
      { title }
    </h3>
    <slot />
  </div>
</div>

<style>
  .img--small {
    height: 50px;
    max-width: none;
  }

  .img--medium {
    height: 75px;
    max-width: none;
  }
</style>